import os
import random
from colorama import Fore, Back, Style

jogarnovamente = "s"
jogadas = 0
quemjoga = 2  # 1=cpu 2=jogador
maxjogadas = 9
vit = "n"
velha = [
    [" ", " ", " "],  # L0CO L0C1 L0C2
    [" ", " ", " "],  # L1C0 L1C1 L1C2
    [" ", " ", " "]   # L2C0 L2C1 L2C2
]


def tela():
    global velha
    global jogadas
    os.system("cls")
    print("    0   1   2")
    print("0:  " + velha[0][0] + " | " + velha[0][1] + " | " + velha[0][2])
    print("   -----------")
    print("1:  " + velha[1][0] + " | " + velha[1][1] + " | " + velha[1][2])
    print("   -----------")
    print("2:  " + velha[2][0] + " | " + velha[2][1] + " | " + velha[2][2])
    print("jogadas: " + Fore.GREEN + str(jogadas) + Fore.RESET)


def jogadorjoga():
    global jogadas
    global quemjoga
    global maxjogadas
    if quemjoga == 2 and jogadas < maxjogadas:
        try:
            l = int(input("linha..:"))
            c = int(input("coluna..:"))
            while velha[l][c] != " ":
                l = int(input("linha..:"))
                c = int(input("coluna..:"))
            velha[l][c] = "x"
            quemjoga = 1
            jogadas += 1
        except:
            print("Jogada inválida")
            os.system("pause")


def cpujoga():
    global jogadas
    global quemjoga
    global maxjogadas
    if quemjoga == 1 and jogadas < maxjogadas:
        l = random.randrange(0, 3)
        c = random.randrange(0, 3)
        while velha[l][c] != " ":
            l = random.randrange(0, 3)
            c = random.randrange(0, 3)
        velha[l][c] = "O"
        jogadas += 1
        quemjoga = 2


def verificarVitoria():
    global velha
    vitoria = "n"
    simbolos = ["x", "O"]
    for s in simbolos:
        vitoria = "n"
        # verificar linhas
        il = ic = 0
        while il < 3:
            soma = 0
            ic = 0
            while ic < 3:
                if velha[il][ic] == s:
                    soma += 1
                ic += 1
            if soma == 3:
                vitoria = s
                break
            il += 1
        if vitoria != "n":
            break

        # verificar colunas
        il = ic = 0
        while ic < 3:
            soma = 0
            il = 0
            while il < 3:
                if velha[il][ic] == s:
                    soma += 1
                il += 1
            if soma == 3:
                vitoria = s
                break
            ic += 1
        if vitoria != "n":
            break

        # verificar diagonal 1
        soma = 0
        idiag = 0
        while idiag < 3:
            if velha[idiag][idiag] == s:
                soma += 1
            idiag += 1
        if soma == 3:
            vitoria = s
            break

        # verificar diagonal 2
        soma = 0
        idiagl = 0
        idiagc = 2
        while idiagc >= 0:
            if velha[idiagl][idiagc] == s:
                soma += 1
            idiagl += 1
            idiagc -= 1
        if soma == 3:
            vitoria = s
            break

    return vitoria


def redefinir():
    global velha
    global jogadas
    global quemjoga
    global maxjogadas
    global vit
    jogadas = 0
    quemjoga = 2  # 1=cpu 2=jogador
    maxjogadas = 9
    vit = "n"
    velha = [
        [" ", " ", " "],  # L0CO L0C1 L0C2
        [" ", " ", " "],  # L1C0 L1C1 L1C2
        [" ", " ", " "]   # L2C0 L2C1 L2C2
    ]


while jogarnovamente.lower() == "s":
    while True:
        tela()
        jogadorjoga()
        cpujoga()
        tela()
        vit = verificarVitoria()
        if vit != "n" or jogadas >= maxjogadas:
            break

    print(Fore.RED + "FIM DE JOGO" + Fore.YELLOW)
    if vit == "x" or vit == "O":
        print("Resultado: Jogador " + vit + " venceu")
    else:
        print("Resultado: Empate")
    jogarnovamente = input(Fore.BLUE + "Jogar Novamente? [s/n]: " + Fore.RESET)
    redefinir()
